<a href="https://colab.research.google.com/github/jessamcs/Project-2/blob/main/Project2_Part1_New(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project 2**
Make sure you select a dataset that will be reasonable to work with in the amount of time we have left. Think about what questions you could reasonably answer with the dataset you select. 

You must propose two datasets that each have a supervised learning component. You may choose a regression or classification problem for each proposed data set.  

For this task:

Create a Colab notebook where you have uploaded and shown the .head() of each of your data sets.  For each of the proposed datasets, answer the following questions:

Travel Insurance Company
**First choice: dataset 1**

**1) Source of data**
https://www.kaggle.com/mhdzahier/travel-insurance

**2) Brief description of data**
third-party travel insurance servicing company that is based in Singapore.

**3) What is the target?**
Target to sell insurance plans to travel insurance/airlines

**4) Is this a classification or regression problem?**
Regression

**5) How many features?**
2-4

**6) How many rows of data.**
63326

**7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?**
Clearing, Exploring and Modeling

In [3]:
#Import dataset #1
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [4]:
df = pd.read_csv("/content/travel insurance.csv")
df.head()

  Agency    Agency Type Distribution Channel  ... Commision (in value) Gender  Age
0    CBH  Travel Agency              Offline  ...                 9.57      F   81
1    CBH  Travel Agency              Offline  ...                 9.57      F   71
2    CWT  Travel Agency               Online  ...                29.70    NaN   32
3    CWT  Travel Agency               Online  ...                23.76    NaN   32
4    CWT  Travel Agency               Online  ...                11.88    NaN   41

[5 rows x 11 columns]

**Second choice: dataset 2**

**STOCK TRADING DATA**

**1) Source of data**
https://www.kaggle.com/rupakroy/stock-trading-data

**2) Brief description of data**
The dataset contains stock trading data properly formatted with datetime. 

**3) What is the target?**
Stock Trading Prediction

**4) Is this a classification or regression problem?**
Regression

**5) How many features?** 3

**6) How many rows of data.** 7

**7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?**
Cleaning, exploring and modeling

In [ ]:
import numpy as np
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [ ]:
df = pd.read_csv('/content/stock_trading_data.csv')
df.head()

         Date        Open        High  ...       Close   Adj Close   Volume
0  2016-06-06  724.909973  724.909973  ...  716.549988  716.549988  1565300
1  2016-06-07  719.840027  721.979980  ...  716.650024  716.650024  1336200
2  2016-06-08  723.960022  728.570007  ...  728.280029  728.280029  1583700
3  2016-06-09  722.869995  729.539978  ...  728.580017  728.580017   988900
4  2016-06-10  719.469971  725.890015  ...  719.409973  719.409973  1216400

[5 rows x 7 columns]